### Importing Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

### Importing Dataframes

In [2]:
# Path to Dataframe
path = r'C:\\\\Users\\\\maad0\\\\OneDrive\\\\CAREERFOUNDRY NOTES\\\\Python Fundamentals for Data Analyst\\\\08-2023 Instacart Basket Analysis'

In [3]:
# Import products_checked.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data','Prepared Data','products_checked.csv'), index_col = False)

### Question 3. Import orders_products_combined dataframe from the pickle file you just saved.

In [4]:
# Import new combined dataframe from .pkl
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data','orders_products_combined.pkl'))

### Question 4. Check the shape of the imported dataframe (it should be the same as the one you exported - always check!)

In [5]:
# Checking the dimensions of the combined dataframe
df_ords_prods_combined.shape

(32434489, 11)

### Question 5.  Combine the orders_products_combined dataframe with your products data set. Using your wrangled, cleaned, and deduped products data set.

In [6]:
# Checking the dimensions prods.csv
df_prods.shape

(49677, 6)

In [7]:
# Checking output of prods.csv
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
# Dropping unnecessary column in prods.csv
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [9]:
# Rechecking output of prods.csv
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

### The product_id  is the common identifier column that brings the two data sets together.

In [11]:
# Drop existing merge column for a successful merge between datasets.
df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['_merge'])

In [12]:
# merging datasets
df_merged = df_ords_prods_combined.merge(df_prods, on = 'product_id', indicator = True)

In [13]:
# Checking output
df_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,orders_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

### Question 6.  Confirm the results of the merge using the merge flag.

In [15]:
# Checking the merge flag
df_merged['_merge'].value_counts()

both          32406041
left_only            0
right_only           0
Name: _merge, dtype: int64

### Question 7.  Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

In [16]:
# Exporting merged dataframe
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))